<robot name="materials">

  <material name="Black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="aluminum">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="DarkGrey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="GunMetalGrey">
    <color rgba="0.46 0.5 0.56 1.0"/>
  </material>

  <material name="Gold">
    <color rgba="1 1 0.752941176470588 1" />
  </material>

  <material name="zedm_mat">
    <color rgba="0 0 0 0.9"/>
  </material>

</robot>