<?xml version="1.0"?>
<robot name="nanosaur" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- nanosaur parts -->
    <xacro:include filename="$(find nanosaur_description)/urdf/robot.urdf.xacro" />

    <!-- camera definitions -->
    <xacro:arg name="camera_type" default="empty" /> <!--options: empty, realsense, zedmini -->
    <xacro:arg name="lidar_type" default="empty" /> <!--options: empty, LD06 -->
    <xacro:arg name="use_nominal_extrinsics" default="false" /> <!-- ONLY FOR REALSENSE -->

    <!-- nanosaur robot -->
    <xacro:nanosaur camera_type="$(arg camera_type)"
                    lidar_type="$(arg lidar_type)"
                    use_nominal_extrinsics="$(arg use_nominal_extrinsics)" />

</robot>