<?xml version="1.0"?>
<robot name="nanosaur_track"
    xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="track" params="type parent radius diff_drive_emulation mimic_enable">

        <!-- Define orientation -->
        <xacro:if value="${type == 'left'}">
            <xacro:property name="orientation" value="-1"/>
        </xacro:if>
        <xacro:if value="${type == 'right'}">
            <xacro:property name="orientation" value="1"/>
        </xacro:if>

        <xacro:if value="${mimic_enable}">
            <xacro:property name="mimic_type" value="continuous"/>
        </xacro:if>
        <xacro:unless value="${mimic_enable}">
            <xacro:property name="mimic_type" value="fixed"/>
        </xacro:unless>

        <xacro:property name="radius_wheel" value="${radius}"/>

        <joint name="sprocket_${type}_joint" type="continuous">
            <xacro:if value="${diff_drive_emulation}">
                <origin xyz="0.0 ${orientation * -0.043} 0.015" rpy="${orientation * M_PI/2} 0 0" />
            </xacro:if>
            <xacro:unless value="${diff_drive_emulation}">
                <origin xyz="0.053 ${orientation * -0.043} 0.015" rpy="${orientation * M_PI/2} 0 0" />
            </xacro:unless>
            <parent link="${parent}"/>
            <child link="sprocket_${type}"/>
            <axis xyz="0 0 ${-1 * orientation}" />
        </joint>

        <link name="sprocket_${type}">
            <inertial>
                <mass value="0.01"/>
                <origin rpy=" 0 0 0" xyz="0 0 0"/>
                <inertia ixx="1.6666666666666668e-07" ixy="0" ixz="0" iyy="1.6666666666666668e-07" iyz="0" izz="1.6666666666666668e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${path_meshes}/sprocket.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Black" />
            </visual>
            <!-- Collision cylinder -->
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.015" radius="${radius}"/>
                </geometry>
                <material name="Black" />
            </collision>
        </link>

        <gazebo reference="sprocket_${type}">
            <kp>10000000</kp>
            <kd>10000000</kd>
            <mu1>10000000</mu1>
            <mu2>10000000</mu2>
            <material>Gazebo/Blue</material>
            <!-- Ignition color reference -->
            <visual>
                <material>
                    <ambient>0.0 0.0 0.5 1.0</ambient>
                    <diffuse>0.0 0.0 0.5 1.0</diffuse>
                    <specular>0.0 0.0 0.5 1.0</specular>
                </material>
            </visual>
        </gazebo>

        <joint name="motor_${type}_joint" type="fixed">
            <origin xyz="0.053 ${orientation * -0.043} 0.015" rpy="${orientation * M_PI/2} 0 0" />
            <parent link="${parent}"/>
            <child link="motor_${type}"/>
        </joint>

        <link name="motor_${type}">
            <visual>
                <origin xyz="0 0 -0.031" rpy="0 0 -${M_PI/2}" />
                <geometry>
                    <mesh filename="${path_meshes}/parts/Pololu-Micro-Metal-Gearmotor.stl"/>
                </geometry>
                <material name="Gold" />
            </visual>
        </link>

        <gazebo reference="motor_${type}">
            <material>Gazebo/Gold</material>
            <!-- Ignition color reference -->
            <visual>
                <material>
                    <ambient>0.9 0.7 0.0 1.0</ambient>
                    <diffuse>0.9 0.7 0.0 1.0</diffuse>
                    <specular>0.9 0.7 0.0 1.0</specular>
                </material>
            </visual>
        </gazebo>

        <joint name="wheel_${type}_joint" type="${mimic_type}">
            <origin xyz="-0.099 0 0" rpy="0 0 0" />
            <parent link="motor_${type}"/>
            <child link="wheel_${type}"/>
            <axis xyz="0 0 ${-1 * orientation}" />
            <!-- Passive sprocket rotate automatically according to the status of the active one -->
            <xacro:if value="${mimic_enable}">
                <mimic joint="sprocket_${type}_joint" multiplier="1" offset="0"/>
            </xacro:if>
        </joint>

        <link name="wheel_${type}">
            <inertial>
                <mass value="0.01"/>
                <origin rpy=" 0 0 0" xyz="0 0 0"/>
                <inertia ixx="1.6666666666666668e-07" ixy="0" ixz="0" iyy="1.6666666666666668e-07" iyz="0" izz="1.6666666666666668e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${path_meshes}/wheel.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Black" />
            </visual>
            <!-- Collision cylinder -->
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.015" radius="${radius_wheel}"/>
                </geometry>
                <material name="Black" />
            </collision>
        </link>

        <gazebo reference="wheel_${type}">
            <kp>10000000</kp>
            <kd>10000000</kd>
            <mu1>0</mu1>
            <mu2>0</mu2>
            <material>Gazebo/Red</material>
            <!-- Ignition color reference -->
            <visual>
                <material>
                    <ambient>0.5 0.0 0.0 1.0</ambient>
                    <diffuse>0.5 0.0 0.0 1.0</diffuse>
                    <specular>0.5 0.0 0.0 1.0</specular>
                </material>
            </visual>
        </gazebo>

        <xacro:if value="${diff_drive_emulation}">
            <joint name="front_wheel_${type}_joint" type="${mimic_type}">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="motor_${type}"/>
                <child link="front_wheel_${type}"/>
                <axis xyz="0 0 ${-1 * orientation}" />
                <!-- Passive sprocket rotate automatically according to the status of the active one -->
                <xacro:if value="${mimic_enable}">
                    <mimic joint="sprocket_${type}_joint" multiplier="1" offset="0"/>
                </xacro:if>
            </joint>

            <link name="front_wheel_${type}">
                <inertial>
                    <mass value="0.01"/>
                    <origin rpy=" 0 0 0" xyz="0 0 0"/>
                    <inertia ixx="1.6666666666666668e-07" ixy="0" ixz="0" iyy="1.6666666666666668e-07" iyz="0" izz="1.6666666666666668e-07"/>
                </inertial>
                <visual>
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${path_meshes}/wheel.stl" scale="0.001 0.001 0.001"/>
                    </geometry>
                    <material name="Black" />
                </visual>
                <!-- Collision cylinder -->
                <collision>
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <cylinder length="0.015" radius="${radius_wheel}"/>
                    </geometry>
                    <material name="Black" />
                </collision>
            </link>

            <gazebo reference="front_wheel_${type}">
                <kp>10000000</kp>
                <kd>10000000</kd>
                <mu1>0</mu1>
                <mu2>0</mu2>
                <material>Gazebo/Green</material>
                <!-- Ignition color reference -->
                <visual>
                    <material>
                        <ambient>0.0 0.5 0.0 1.0</ambient>
                        <diffuse>0.0 0.5 0.0 1.0</diffuse>
                        <specular>0.0 0.5 0.0 1.0</specular>
                    </material>
                </visual>
            </gazebo>
        </xacro:if>

        <joint name="track_${type}_joint" type="fixed">
            <origin xyz="-0.049 0 0" rpy="0 0 0" />
            <parent link="motor_${type}"/>
            <child link="track_${type}"/>
        </joint>

        <link name="track_${type}">
            <inertial>
                <mass value="0.01"/>
                <origin rpy=" 0 0 0" xyz="0 0 0"/>
                <inertia ixx="1.6666666666666668e-07" ixy="0" ixz="0" iyy="1.6666666666666668e-07" iyz="0" izz="1.6666666666666668e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <mesh filename="${path_meshes}/track.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Black" />
            </visual>
        </link>

        <gazebo reference="track_${type}">
            <material>Gazebo/Black</material>
            <!-- Ignition color reference -->
            <visual>
                <material>
                    <ambient>0.01 0.01 0.01 1.0</ambient>
                    <diffuse>0.01 0.01 0.01 1.0</diffuse>
                    <specular>0.01 0.01 0.01 1.0</specular>
                </material>
            </visual>
        </gazebo>

        <joint name="slider_${type}_joint" type="fixed">
            <parent link="track_${type}"/>
            <child link="slider_${type}"/>
        </joint>

        <link name="slider_${type}">
            <inertial>
                <mass value="0.01"/>
                <origin rpy=" 0 0 0" xyz="0 0 0"/>
                <inertia ixx="1.6666666666666668e-07" ixy="0" ixz="0" iyy="1.6666666666666668e-07" iyz="0" izz="1.6666666666666668e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0.008" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${path_meshes}/slider.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Green" />
            </visual>
        </link>

        <gazebo reference="slider_${type}">
            <material>Gazebo/Green</material>
            <!-- Ignition color reference -->
            <visual>
                <material>
                    <ambient>0.0 0.5 0.0 1.0</ambient>
                    <diffuse>0.0 0.5 0.0 1.0</diffuse>
                    <specular>0.0 0.5 0.0 1.0</specular>
                </material>
            </visual>
        </gazebo>

    </xacro:macro>

</robot>