<?xml version="1.0"?>
<robot name="nanosaur_flap"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="nanosaur_flap" params="parent">

        <joint name="nanosaur_flap_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="nanosaur_flap"/>
        </joint>

        <link name="nanosaur_flap">
            <visual>
                <geometry><mesh filename="${path_meshes}/nanosaur_flap.stl" scale="0.001 0.001 0.001"/></geometry>
                <material name="Green" />
            </visual>
        </link>

    </xacro:macro>

</robot>